.productcard-div{
    width: 40%;
    height: 400px;
    display: flex;
}
.product-btn-div{
    padding: 10px 0;
}
.product-div-1{
    padding: 10px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.productcard-head>h1{
    background-color: red;
    width: 60%;
}
.productcard-end>p{
    margin: 10px 0;
}
.product-btn-div{
    margin: 10px 0;
}
.product-btn{
    margin: 10px;
    padding: 10px 30px !important;
}
.product-div-2{
    height:100% ;
    width: 60%;
}
.product-img{
    height: 100%;
    width: 100%;
}