

.home-div-1{
    width: 80%;
    margin: 0 auto;
    padding: 70px 0;
}
.home-product-div{
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0;
}
.home-weekspecial-div>h3{
    padding: 15px 0;
    color: grey;
    border-bottom: 1px solid rgb(158, 154, 154);
}
.gadget-nav{
    list-style: none;
    display: flex;
    padding: 20px 0;
    margin: 20px 0;
}
.gadget-nav>li:first-child{
    margin-left: 0;
    margin-right: 20px;
}
.gadget-nav>li{
    font-size: 22px;
    margin: 0 20px;
}
.gadget-card{
    display: flex;
}